# Environment variables (VERY IMPORTANT)
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
venv/
.venv/
env/
bin/
include/
lib/
share/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
ngrok.log



# Custom project files
cahier_de_charge.pdf
Humanize_AI.ipynb
graphs/

# Nested Frontend
app-ui/node_modules/
app-ui/dist/